<!-- BEGIN_MODULE Tag_Filter -->
<!-- BEGIN tagBox -->
<div>
	<p>選択されているタグ :  <!-- BEGIN selected:loop --><span class="acms-label-group acms-inline-space"><a href="{url}" class="acms-label">{name}</a><a href="{omitUrl}" class="acms-label acms-label-side">x</a></span><!-- END selected:loop -->
	</p>
	<!-- BEGIN choice:veil -->
	<p id="nextTagTitle">タグを絞り込む : <!-- BEGIN choice:loop --><a href="{url}" class="acms-admin-label acms-admin-inline-space">{name}</a><!-- END choice:loop -->
	<!-- END choice:veil -->
	</p>
</div>
<!-- END tagBox -->
<!-- END_MODULE Tag_Filter -->