<!-- BEGIN_MODULE Unit_List -->
<div><!-- BEGIN unit:loop -->
	<table class="acms-admin-table acms-admin-table-bordered acms-admin-margin-bottom-medium {unit:loop.class}">
		<tr>
			<th>unit_id</th>
			<td>{unit_id}</td>
		</tr>
		<tr>
			<th>unit_sort</th>
			<td>{unit_sort}</td>
		</tr>
		<tr>
			<th>unit_align</th>
			<td>{unit_align}</td>
		</tr>
		<tr>
			<th>unit_type</th>
			<td>{unit_type}</td>
		</tr>
		<tr>
			<th>unit_attr</th>
			<td>{unit_attr}</td>
		</tr>
		<tr>
			<th>unit_size</th>
			<td>{unit_size}</td>
		</tr>
		<tr>
			<th>unit_field_1</th>
			<td>{unit_field_1}</td>
		</tr>
		<tr>
			<th>unit_field_2</th>
			<td>{unit_field_2}</td>
		</tr>
		<tr>
			<th>unit_field_3</th>
			<td>{unit_field_3}</td>
		</tr>
		<tr>
			<th>unit_field_4</th>
			<td>{unit_field_4}</td>
		</tr>
		<tr>
			<th>unit_field_5</th>
			<td>{unit_field_5}</td>
		</tr>
		<tr>
			<th>unit_entry_id</th>
			<td>{unit_entry_id}</td>
		</tr>
		<tr>
			<th>unit_blog_id</th>
			<td>{unit_blog_id}</td>
		</tr><!-- BEGIN tiny:veil -->
		<tr>
			<th>tiny</th>
			<td>%{ARCHIVES_DIR}{tiny}</td>
		</tr><!-- END tiny:veil --><!-- BEGIN normal:veil -->
		<tr>
			<th>normal</th>
			<td>%{ARCHIVES_DIR}{normal}</td>
		</tr><!-- END normal:veil --><!-- BEGIN large:veil -->
		<tr>
			<th>large</th>
			<td>%{ARCHIVES_DIR}{large}</td>
		</tr><!-- END large:veil -->
		<tr>
			<th>entry_title</th>
			<td>{entry_title}</td>
		</tr>
		<tr>
			<th>entry_url</th>
			<td>{entry_url}</td>
		</tr>
		<tr>
			<th>entry_datetime</th>
			<td>{entry_datetime}</td>
		</tr><!-- BEGIN category:veil -->
		<tr>
			<th>category_name</th>
			<td>{category_name}</td>
		</tr>
		<tr>
			<th>category_url</th>
			<td>{category_url}</td>
		</tr><!-- END category:veil -->
		<tr>
			<th>blog_name</th>
			<td>{blog_name}</td>
		</tr>
		<tr>
			<th>blog_url</th>
			<td>{blog_url}</td>
		</tr>
	</table><!-- END unit:loop -->
</div><!-- END_MODULE Unit_List -->
