<!-- BEGIN_MODULE User_Profile -->
<div class="acms-admin-margin-bottom-medium">
	<!-- BEGIN user:loop -->
	<div class="acms-admin-summary">
		<!-- BEGIN image:veil -->
		<div class="acms-admin-summary-image">
			<img src="%{ARCHIVES_DIR}{icon}" alt="{name}" width="60" />
		</div>
		<!-- END image:veil -->
		<div class="acms-admin-summary-body">
			<!-- BEGIN name:veil -->
			<h4 class="acms-admin-summary-heading">{name}</h4>
			<!-- END name:veil -->
		</div>
	</div>
	<!-- END user:loop -->
</div>
<!-- END_MODULE User_Profile -->