/* ------------------------------
　　検索フォーム
------------------------------ */
.search-form {
	margin-bottom: 20px;
	display: table;
	table-layout: fixed;
	width: 100%;
}

.search-form-text {
	width: 100%;
	display: table-cell;
	border-radius: 3px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid #bfbfbf;
	height: 30px;
	font-size: 14px;
	padding: 5px;
}

.search-form-btn-wrap {
	display: table-cell;
	position: relative;
	width: 40px;
}

.search-form-btn {
	width: 100%;
	height: 30px;
	padding: 0;
	line-height: 1;
	text-align: center;
	background: #949494;
	font-size: 18px;
	color: #ffffff;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border: none;
	margin-left: -1px;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
}

/* ------------------------------
　　検索結果の表示
------------------------------ */
.search-result {
	text-align: center;
	margin: 0 0 20px 0;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		background-color: #9b9b9b;
		display: block;
		width: 100%;
		height: 1px;
		z-index: -1;
	}
}

.search-result-heading {
	font-size: 18px;
	color: #333333;
	line-height: 1.3;
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #fff;
	z-index: 1;
	margin: 0;
}

.search-result-heading a {
	color: #333333;
}

.search-result-heading a:hover {
	color: $link-color;
}

