/* ------------------------------
　　エントリーサマリー（サムネイル表示）
------------------------------ */
.thumbnail {
	margin: 0 0 20px 0;
	padding: 0;

	& li {
		list-style-type: none;
		margin-bottom: 10px;
		display: block;
	}

	& a {
		@include text-decoration-none();
		@include link-color(#FFFFFF);
		text-shadow: 0 0 3px #000000;
	}
}

.thumbnail-bg {
	display: table;
	width: 100%;
	height: 150px;
	background: #333333 center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffff;
	text-shadow: 0 0 3px #000000;

	&:hover {
		opacity: .7;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
		filter: alpha(opacity=70);
	}
}

.thumbnail-inner {
	display: block;
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: bottom;
}

.thumbnail-shade {
	padding: 10px 5px;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.7) 34%);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.7) 34%);
	background: linear-gradient(rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.7) 34%);
}

.thumbnail-date {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 13px;
}

.thumbnail-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 15px;
}

@media screen and (max-width: $breakpoint-md-max) {
	.thumbnail li {
		width: 100%;
		float: none;
		padding: 0;
	}
}
