
// 目次
// ------------------------------

// 01. 基本設定
// 01. ナビゲーション
// 02. レイアウトモジュール

// ------------------------------
//  基本設定
// ------------------------------
$base-bg-black: #101013;
$base-bg-gray: #404040;
$base-bg-light-gray: #F1F1F1;
$base-bg-light-white: #FFF;
$base-bg-link-color: #404040;

$base-bg-primary: #3E404D;

$edit-entry-bg-color-white: #FFFFFF;
$edit-entry-bg-color-lightest: #F7F7F7;
$edit-entry-bg-color-lighter: #F9F9F9;
$edit-entry-bg-color-light: #f0f1f5;
$edit-entry-bg-color-base: #E4E5EA;
$edit-entry-bg-color-dark: #D8D8DE;
$edit-entry-bg-color-darker: #a2a2b3;
$edit-entry-bg-color-darkest: #4a4954;


// ------------------------------
//  ナビゲーション
// ------------------------------
$header-nav-color: #FFF;


// ------------------------------
//  パスワード 強度メーター
// ------------------------------
$password-strength-default-color       : #7A7676;
$password-strength-danger-color        : #C30B31;
$password-strength-anxiety-color       : #FFA342;
$password-strength-warning-color       : #FFED60;
$password-strength-reasonable-color    : #A0D31B;
$password-strength-secure-color        : #0963D2;


// ------------------------------
//  レイアウトモジュール
// ------------------------------
$layout-placeholder-bg: #EECED6;
$layout-placeholder-border: #CD7086;
$layout-placeholder-color: #CD7086;

$module-placeholder-bg: #CEDBEE;
$module-placeholder-border: #7096CD;
$module-placeholder-color: #7096CD;

$layout-unit-color: #CEDBEE;
$layout-unit-bg: #EFEFEF;
$layout-unit-border: #CCC;
$layout-contents-border: #999;

$layout-module-unit-color: #FFF;
$layout-module-unit-bg: #7096CC;
$layout-module-unit-border: #CCCCCC;

$layout-edit-border: #CCC;









