<!-- BEGIN type#module -->
<div class="js-acms_layout-unit acms-admin-layout-unit acms-admin-layout-module-unit">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<button class="js-acms_layout_select_module acms-admin-layout-control-btn acms-admin-btn-admin acms-admin-btn-small" ><span class="acms-admin-icon-module"></span><!--T-->モジュール<!--/T--></button>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-icon-delete"><span class="acms-admin-hide-visually"><!--T-->削除<!--/T--></span></button>
		</div>
	</div>
	<div class="js-acms_layout_contents js-acms_layout_module_box acms-admin-layout-contents" data-col="1">
		<!-- COL#1 -->
		<!-- MODULE -->
	</div>
</div>
<!-- END type#module --><!-- BEGIN type#col12 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-icon-delete"><span class="acms-admin-hide-visually"><!--T-->削除<!--/T--></span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-12">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
</div>
<!-- END type#col12 --><!-- BEGIN type#col6-6 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-icon-delete"><span class="acms-admin-hide-visually"><!--T-->削除<!--/T--></span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-6">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-6">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
</div>
<!-- END type#col6-6 --><!-- BEGIN type#col3-9 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-icon-delete"><span class="acms-admin-hide-visually"><!--T-->削除<!--/T--></span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-3">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-9">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
</div>
<!-- END type#col3-9 --><!-- BEGIN type#col4-8 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-icon-delete"><span class="acms-admin-hide-visually"><!--T-->削除<!--/T--></span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-4">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-8">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
</div>
<!-- END type#col4-8 --><!-- BEGIN type#col9-3 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-icon-delete"><span class="acms-admin-hide-visually"><!--T-->削除<!--/T--></span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-9">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-3">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
</div>
<!-- END type#col9-3 --><!-- BEGIN type#col8-4 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-icon-delete"><span class="acms-admin-hide-visually"><!--T-->削除<!--/T--></span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-8">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-4">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
</div>
<!-- END type#col8-4 --><!-- BEGIN type#col4-4-4 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-icon-delete"><span class="acms-admin-hide-visually"><!--T-->削除<!--/T--></span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-4">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-4">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-4">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="3">
			<!-- COL#3 -->
		</div>
	</div>
</div>
<!-- END type#col4-4-4 --><!-- BEGIN type#col3-3-3-3 -->
<div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
	<div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
		<span class="acms-admin-layout-label-name">{blockLabel}</span>
		<div class="acms-admin-inline acms-admin-float-right">
			<button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-icon-delete"><span class="acms-admin-hide-visually"><!--T-->削除<!--/T--></span></button>
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-3">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
			<!-- COL#1 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-3">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
			<!-- COL#2 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-3">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="3">
			<!-- COL#3 -->
		</div>
	</div>
	<div class="acms-admin-layout-contents acms-admin-col-3">
		<div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="4">
			<!-- COL#4 -->
		</div>
	</div>
</div>
<!-- END type#col3-3-3-3 -->
